// fonts link in HTML, best performance, cache, clear css
body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
  min-height: 100vh;
}

* {
  font-family: 'Inter', system-ui;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #EAEAEA;
  padding: 40px;

  @media (max-width: 650px) {
    padding: 20px;
  }

  .cartBlock {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 2px;
    border: solid 1px #EAEAEA;
    border-radius: 20px;
    padding: 10px;
    background-color: transparent;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }

    @media (max-width: 650px) {
      padding: 5px;
      padding-left: 3px;
      padding-bottom: 3px;
      margin-right: 10px;

      img {
        margin-right: 8px;
      }

      span {
        display: none;
        width: 0px;
        visibility: hidden;
        padding: 0;
      }
    }
  }

  .greenBackGround {
    background-color: #89f09c81;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    li {
      cursor: pointer;
      margin: auto;
      margin-right: 15px;

      @media (max-width: 650px) {
        margin-right: 0;
      }
    }

    img {
      margin-right: 8px;
      margin-left: 8px;
    }
  }

  span {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-right: 8px;
    border-right: solid 1px #EAEAEA;
  }

  img {
    margin-right: 10px;
  }

  h4 {
    font-size: 24px;
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;

    @media (max-width: 370px) {
      display: block;
      visibility: visible;
      width: 100%;
      height: 100%;
    }
  }

  h3 {
    margin: 0;
    padding-right: 40px;

    @media (max-width: 390px) {
      font-size: 14px;
    }

    @media (max-width: 370px) {
      display: none;
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }

  p {
    margin: 0;

    @media (max-width: 540px) {
      display: none;
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }

}

.content {
  position: relative;
  overflow: auto;
  padding: 40px;
  min-height: 70vh;

  @media (max-width: 650px) {
    padding: 20px;
  }

  .contentTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @media (max-width: 420px) {
      flex-direction: column;
      padding: 20px;
    }
  }

  .cardList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-column-gap: 0;
    grid-row-gap: 20px;
    width: 100%;
    height: 100%;
  }

  .orderCardList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-column-gap: 0;
    grid-row-gap: 20px;
    width: 100%;
    height: 100%;
  }

  h1 {
    margin: 0;

    @media (max-width: 540px) {
      font-size: 24px;
    }

    @media (max-width: 420px) {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
}

.orders {
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hollowOrders {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;

  li {
    max-width: 350px;
  }

  h2 {
    margin: 0;
  }

  .greenButton {
    position: relative;

    &:hover {
      img {
        transform: translateX(-8px);
      }
    }

    img {
      position: absolute;
      left: 30px;
      top: 21px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.greenButton {
  max-width: 330px;
  width: 100%;
  height: 55px;
  background: #9DD558;
  border-radius: 18px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:disabled {
    background-color: #bebebe !important;
    cursor: default;
  }

  &:hover {
    background: lighten($color: #9DD558, $amount: 5%);
  }

  &:active {
    background: darken($color: #9DD558, $amount: 5%);
  }
}

.infoBtn {
  background: #89F09C;

  &:hover {
    background: lighten($color: #89F09C, $amount: 5%);
  }
}

.redBtn {
  width: 90px;
  height: 25px;
  background: #de41418d;
  border-radius: 10px;

  &:hover {
    background: lighten($color: #de4141, $amount: 5%);
  }

  &:active {
    background: darken($color: #de4141, $amount: 5%);
  }
}

.invisible {
  display: none;
}