// fonts link in HTML, best performance, cache
body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
}

* {
  font-family: 'Inter', system-ui;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #EAEAEA;
  padding: 40px;

  @media (max-width: 650px) {
    padding: 20px;
  }

  .cartBlock {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    border: solid 1px #EAEAEA;
    border-radius: 20px;
    padding: 10px;
    background-color: transparent;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }

    @media (max-width: 650px) {
      padding: 5px;
      padding-left: 3px;
      padding-bottom: 3px;
      margin-right: 10px;

      img {
        margin-right: 8px;
      }

      span {
        width: 0px;
        visibility: hidden;
        padding: 0;
      }
    }
  }

  .greenBackGround {
    background-color: #89f09c81;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    li {
      cursor: pointer;
      margin-right: 15px;
    
      @media (max-width: 650px) {
        margin-right: 0;
      }
    }

    img {
      margin-right: 8px;
      margin-left: 8px;
    }
  }

  span {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-right: 8px;
    border-right: solid 1px #EAEAEA;
  }

  img {
    margin-right: 10px;
  }

  h4 {
    font-size: 24px;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;

    @media (max-width: 370px) {
      visibility: visible;
      width: 100%;
      height: 100%;
    }
  }

  h3 {
    margin: 0;
    padding-right: 40px;

    @media (max-width: 390px) {
      font-size: 14px;
    }

    @media (max-width: 370px) {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }

  p {
    margin: 0;

    @media (max-width: 540px) {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }

}

.content {
  overflow: auto;
  padding: 40px;

  @media (max-width: 650px) {
    padding: 20px;
  }

  .contentTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @media (max-width: 420px) {
      flex-direction: column;
      padding: 20px;
    }
  }

  .cardList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 37px;
    grid-row-gap: 25px;
    width: 100%;
    height: 100%;

    @media (max-width: 1060px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 820px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 560px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .orderCardList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

  }

  h1 {
    margin: 0;

    @media (max-width: 540px) {
      font-size: 24px;
    }

    @media (max-width: 420px) {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
}

.search-block {
  position: relative;
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 0 15px;
  padding-right: 35px;

  .clearBtn {
    position: absolute;
    display: flex;
    right: 8px;
    padding-right: 5px;
    align-self: center;
    width: 32px;
    height: 32px;
  }

  input {
    border: 0;
    padding: 12px;
    font-size: 16px;
    width: 200px;

    @media (max-width: 650px) {
      width: 150px;
      font-size: 14px;
    }

    @media (max-width: 540px) {
      padding: 6px;
    }

    @media (max-width: 490px) {
      width: 120px;
    }

    @media (max-width: 420px) {
      width: 155px;
    }
  }

}